body {
	font-family: 'trebuchet ms', verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	overflow: visible;
	margin: 0;
	padding: 0;
	width: 130px;
	height: 70px;
}

v\:* {
	behavior:url(#default#vml);
}

.bodyOld {
	background: url(_gfx/trans1.png);
	background-repeat: repeat;
}

.iconLeft {
	position: fixed;
	left: 0px;
	top: 0px;
	margin: 0;
	padding: 0;
	width: 10px;
	height: 34px;
	background: url(_gfx/icon_bg_left.png) no-repeat;
	z-index: 1;
}

.iconCenter {
	position: fixed;
	left: 10px;
	top: 0px;
	width: 110px;
	height: 34px;
	background: url(_gfx/icon_bg.png) repeat-x;
	z-index: 1;
}

.iconRight {
	position: fixed;
	left: 120px;
	top: 0px;
	width: 10px;
	height: 34px;
	background: url(_gfx/icon_bg_right.png) no-repeat;
	z-index: 1;
}

.iconArea {
	position: fixed;
	left: 0px;
	top: 8px;
	width: 130px;
	height: 22px;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	z-index: 2;
}

.topIcon {
	width: 22px;
	border: none;
}

.extrasArea {
	position: fixed;
	left: 130px;
	top: 0px;
	width: 600px;
	height: 34px;
	overflow: hidden;
	white-space: nowrap;
	z-index: 2;
}

.onlineArea {
	position: fixed;
	left: 186px;
	top: 7px;
	font-family: 'trebuchet ms', verdana, arial, helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0183a8;
	white-space: nowrap;
	z-index: 2;
}

.searchArea {
	position: fixed;
	left: 320px;
	top: 7px;
	width: 116px;
	height: 17px;
	font-family: 'trebuchet ms', verdana, arial, helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0183a8;
	white-space: nowrap;
	z-index: 2;
}

#searchBox {
	position: absolute;
	left: 1px;
	top: 0px;
	width: 114px;
	height: 15px;
	background-color: transparent;
	font-family: 'trebuchet ms',verdana,arial,helvetica,sans-serif;
	font-size: 11px;
	border: none;
	color: #0183ab;
	font-weight: normal;
	z-index: 5;
}

#searchBoxHolder {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 114px;
	background-color: white;
	height: 15px;
	font-size: 0px;
	z-index: 4;
}

#searchBoxBorder {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 116px;
	height: 17px;
	background-color: #0183ab;
	font-size:0px;
	z-index: 3;
}

.orangeText {
	color: #dc3f25;
}
.blueText {
	color: #0183a8;
}

.logoArea {
	position: fixed;
	left: 519px;
	top: 4px;
	width: 191px;
	height: 25px;
	overflow: hidden;
	white-space: nowrap;
	z-index: 2;
}

.tickerLeft {
	position: fixed;
	left: 0px;
	top: 34px;
	width: 10px;
	height: 20px;
	background: url(_gfx/ticker_bg_left.png) no-repeat;
	z-index: 1;
}

.tickerCenter {
	position: fixed;
	left: 10px;
	top: 34px;
	width: 110px;
	height: 20px;
	background: url(_gfx/ticker_bg.png) repeat-x;
	z-index: 1;
}

.tickerRight {
	position: fixed;
	left: 120px;
	top: 35px;
	width: 10px;
	height: 20px;
	background: url(_gfx/ticker_bg_right.png) no-repeat;
	z-index: 1;
}

.tickerArea {
	position: fixed;
	left: 1px;
	top: 34px;
	width: 130px;
	height: 20px;
	overflow: hidden;
	white-space: nowrap;
	line-height: 21px;
	border: 0px none;
	margin: 0px;
	padding: 0px;
}

.ticker {
	color: #ffffff;
}

.tickerLink {
	color: #ffffff;
	text-decoration: none;
}

.tickerLink:visited {
	color: #cccccc;
}

#infoArea {
	position: fixed;
	left: 1px;
	top: 55px;
	width: 130px;
	height: 20px;
	overflow: hidden;
	white-space: nowrap;
	line-height: 21px;
	font-family: 'trebuchet ms', verdana, arial, helvetica, sans-serif;
	filter:glow(color=ffffff,strength=1);
	font-size: 12px;
	font-weight: bold;
	border: 0px none;
	margin: 0px;
	padding: 0px;
}

#tooltip {
	padding: 0px 3px 0px 3px;
	background: #f9f9f9;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#f9f9f9', EndColorStr='#ccffff');
	border: 1px solid;
	text-align: center;
	font-weight: normal;
	white-space: nowrap;
	width: auto;
	z-index: 99;
}

.Debug {
	position: fixed;
	left: 50px;
	top: 50px;
}