body
{
	font-size: 11px;
	font-family: Arial;
	margin: 0;
	padding: 0;
	width: 130px;
	height: 70px;
	background: url(_gfx/background.png) no-repeat;
	background-repeat: repeat-x;
}

.iconArea {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 128px;
	height: 31px;
	overflow: hidden;
	white-space: nowrap;
	line-height: 21px;
}

.tickerArea {
	position: absolute;
	left: 1px;
	top: 33px;
	width: 128px;
	height: 20px;
	overflow: hidden;
	white-space: nowrap;
	line-height: 21px;
}

.tickerLink {
	color: #ffffff;
}

.tickerLink:visited {
	color: #cccccc;
}

.Debug {
	position: absolute;
	left: 50px;
	top: 50px;
}

.topIcon {
	width: 22px;
}

.ticker {
	color: #ffffff;
}